wheel
django
psycopg2
django-extensions
django-cors-headers
djangorestframework
markdown
django-filter
wfastcgi
pillow
js2xml
python-dotenv
python-memcached
django-admin-list-filter-dropdown
gunicorn
python-slugify
django-admin-rangefilter
django-sendgrid-v5
google-auth
facebook-sdk
django-crispy-forms
django-rest-framework-social-oauth2